<!DOCTYPE html>
<html>
  <head>
    <title>Tom's Voicemail'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tom's Voicemail</h1>
    <p>Hi, we have set a little voicemail system up for Tom.  Call the number below and and leave a message for him.  We will add it to his ipod so he can hear your voice.</p>
<h2>Call Tom on 0203322XXXX</h2>
  </body>
</html>